@model CientCardManager.Core.Application.ViewModels.TipoTarjeta.SaveTipoTarjetaVM;

@{
    Layout = null;
    bool editMode = Model.Id != 0;
}

<div class="modal fade" id="TipoTarjetaModal" tabindex="-1" role="dialog" aria-labelledby="TipoTarjetaModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="crearTipoTarjetaModalLabel">@(editMode ? "Editar" : "Nueva") Tipo Tarjeta <i class="fa-solid fa-credit-card"></i></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>                
            </div>
            <form class="formTipoTarjeta" method="post" asp-action="@(editMode? "Editar":"Crear")" asp-controller="TipoTarjeta">
                <div class="modal-body">
                    <div class="container">
                            <input hidden id="txtId" asp-for="Id" type="number" value="@Model.Id" />
                            <div class="row justify-content-start">
                                <div class="col-12">
                                    <div class="mb-3">
                                        <label class="form-label" for="txtNombre">Nombre</label>
                                        <input placeholder="debito" type="text" class="form-control" id="txtNombre" asp-for="Nombre" value="@Model.Nombre">
                                    </div>
                                </div>                               
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fa-solid fa-xmark"></i> Cancelar</button>
                    <button type="submit" class="btn btn-primary ">
                        <i class="fa-solid fa-check"></i>
                         @(editMode ? "Actualizar" : "Agregar")                        
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/js/TipoTarjeta/Save.js"></script>


